*{
    text-decoration: none;
}

div {
    display: flex;
    width: 1000px;
    height: 50px;
    background-color: grey;
    justify-content: space-between;
}
h1 {
    font-family: cursive;
    display: flex;
    align-items: center;
    margin: 15px;
}
ul {
    display: flex;
    align-items: center;
}
li {
    display: inline-flex;
    justify-content: space-between;
    padding: 15px;
    text-decoration: none;
}
.btn {
    color: white;
    background-color: aqua;
    border: 3px solid;
    border-color: black;
    box-shadow: 5px 5px black;
}